<div>
	<div>
    	<input type="button" class="log-in-btn" ng-click="loginFB()" value="Facebook"/>
	</div>
</div>

<form id="loginForm" ng-show="data.loginFormIsVisible">
    <div class="form-group">
        <label for="inputEmailLogin">Email</label>
        <input type="email" class="form-control" id="inputEmailLogin" placeholder="Email">
    </div>

    <div class="form-group">
        <label for="inputPasswordLogin">Password</label>
        <input type="password" class="form-control" id="inputPasswordLogin" placeholder="Password">
    </div>

    <a ng-click="toggleForm()">Register if you doesn't have an account</a>
</form>

<form id="registerForm" ng-show="!data.loginFormIsVisible">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" ng-model="data.registration.userName" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" ng-model="data.registration.email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" ng-model="data.registration.password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" ng-model="data.registration.confirmPassword" placeholder="Confirm Password">
    </div>

    <a ng-click="toggleForm()">Login to application!</a>

    <button type="submit" class="btn btn-primary" ng-click="signUp()">Register</button>
</form>