<div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="organization in organizations">
            {{organization.Name}}

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="office in organization.Offices">
                    {{office.Name}}

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="group in office.Groups">
                            {{group.Name}}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>